@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-custom-gradient font-sans text-n-1 text-base;
  }
}

@layer components {
  .navbar-onglet {
    @apply hover:text-fuchsia-600 transition duration-300 ease-linear border-b-2 border-slate-900 hover:border-fuchsia-600 cursor-pointer;
  }

  .navbar-onglet-portable {
    @apply my-4 py-4 border-b border-slate-800 hover:bg-slate-800 hover:rounded;
  }
}